<%= turbo_frame_tag dom_id(post) do %>
  <div class="bg-white shadow-md rounded-lg p-4 w-full" data-controller="truncate" data-truncate-limit-value="100">
    <div class="mb-3">
      <p data-truncate-target="content" data-full-text="<%= post.body %>">
       <%= post.body %>
      </p>
      <button type="button" data-truncate-target="link" data-action="click->truncate#toggleText" class="text-blue-500 hidden text-sm">
        Show More
      </button>
    </div>
    <div class="flex space-x-2 mt-3">
      <%= button_to "Show", post_path(post), method: :get, data: {turbo_frame: "posts"}, class: "bg-blue-800 text-white text-xs px-2 py-1 rounded-lg" %>
      <%= button_to "Update", edit_post_path(post), method: :get, data: {turbo_frame: dom_id(post)}, class: "bg-blue-800 text-white text-xs px-2 py-1 rounded-lg" %>
      <%= button_to "Delete", post_path(post), method: :delete, class: "bg-blue-800 text-white text-xs px-2 py-1 rounded-lg" %>
    </div>
  </div>
<% end %>